<link rel="stylesheet" href="/css/welcome.css">
<header style="margin-bottom: 30px" class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 ">
          <h1 class="display-5 fw-bolder text-white mb-2">My Video-Calling Application</h1>
          <p class="lead fw-normal text-white-50 mb-4">The easiest way to meet your friends or colleagues online! No downloads. Get started here, it's free!</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/users/register">Register</a>
            <a class="btn btn-outline-light btn-lg px-4" href="/users/login">Login</a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="http://resources.finalsite.net/images/v1588698257/aidan/tedsa1j1synyrjigw9fd/istockphoto-1209904658-612x612.jpg" alt="..." /></div>
    </div>
  </div>
</header>

<div class="container-fluid">

  <div class="row">
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-check-circle fa-3x" style="margin-bottom: 10px; color: #FE736C; "></i>
      <h3 class="feature-title">Easy to Use</h3>
      <p>Bold icons. Simple design. Live captions.</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="fas fa-user-shield fa-3x" style="
    margin-bottom: 10px; color: #FE736C; "></i>
      <h3 class="feature-title">Invite Participants</h3>
      <p>Set up groups for your friends & family.</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="fas fa-video fa-3x" style="margin-bottom: 10px; color: #FE736C; "></i>
      <h3 class="feature-title">Start the Conversation</h3>
      <p>Tap the video icon to easily start a group video call.</p>
    </div>
  </div>


</div>

</div>
<footer class="white-section" id="footer">
  <div class="container-fluid">

    <p class="footer_p">Made with ❤ by Manan.</p>
  </div>
</footer>
