/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  margin-top: 3.5rem;
  border-radius: 10px;
}

a {
  margin: 5px;
}

.white-section {
  background-color: #FE736C;
}

.container-fluid {
  padding: 5%;
  text-align: center;
}

.footer_p {
  color: white;
}

.feature-box {
  text-align: center;
  padding: 10px;
}
